.background {
    background-color: wheat;
}
.main-background {
    background-color: black;
}
.text-center {
    color: aliceblue;
}
.copyright {
    background-color: grey;
}
.number-color {
    color: red;
}
.icon-color {
    color: black;
}